/* Reset default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

p {
    margin: 0.8em 0;
}

body {
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.6;
    background-color: #0d1117;
    color: #c9d1d9;
}

.wrapper {
    max-width: 600px;
    /* Set a maximum width for the content */
    margin: 0 auto;
    /* Center the content horizontally */
    padding: 0 20px;
    /* Add some padding to keep content away from edges */
    display: flex;
    /* Use flexbox to arrange elements */
    flex-direction: column;
    /* Arrange elements in a column */
}

header {
    text-align: left;
    /* Align the header content to the left */
    padding: 1.5rem 0;
    /* Add top and bottom padding */
    padding-left: 60px;
    /* Add left padding to create space on the left */
    align-self: flex-start;
    /* Align the header to the start of the flex container */
}

.profile-info {
    display: flex;
    /* Use flexbox to arrange profile info */
    align-items: center;
    /* Center align items vertically */
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    /* Add some spacing between the profile image and name */
}

.name {
    font-size: 36px;
    font-weight: bold;
}

.social-links {
    /* align social links horizontally */
    display: flex;
    margin-top: 10px;
}

.social-icon {
    margin-right: 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content-wrapper {
    display: flex;
    /* Use flexbox to arrange navigation and content */
    justify-content: center;
    /* Center the main content horizontally */
}

nav {
    width: 60px;
    /* Reduce the width of the navigation */
    margin-left: -20px;
    /* Offset the navigation bar from the center */
    padding-right: 10px;
    /* Add some spacing between the navigation and the content */
    border-right: 1px solid #c9d1d9;
    /* Add a border to separate the navigation from content */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #c9d1d9;
    font-weight: bold;
}

main {
    /* Allow the main content to take up the remaining available space */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the main content vertically */
    padding-left: 20px;
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-list li {
    margin-bottom: 20px;
}

.blog-list h2 {
    font-size: 18px;
    line-height: 1.6;
    font-size: 20px;
}

.blog-list p {
    color: #c9d1d9;
}

.email-address {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.email-address.show {
    opacity: 1;
}